<% provide(:title, "Help") %>
<h1>LilTweet</h1>
<p>
Perdu ? Vous etes ici ----->X
</br>
<a href="https://github.com/Exocen/liltweet">Sinon le lien Github du Site</a>
</br>
<a href="https://docs.google.com/document/d/1UKMgMIdKFEov1ymPLHAwYrW_rrH7H9xMysj8TNO8KlE/edit?usp=sharing">Sinon
  le lien du Tuto</a>

</p>
